langchain
ollama
chromadb
pypdf 
langchain-community
langchain_chroma
langchain_ollama
langchain-huggingface
sentence-transformers
langchain_groq
fastapi
uvicorn
xgboost 
pandas 
scikit-learn
beautifulsoup4
requests
python-dotenv

bs4